body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background:linear-gradient(lightblue,pink);
    color: #ffffff;
}
h1,h2,h3,h4,p{
    text-shadow:0px 0px 1px black;
}
#img{
    border-radius:50%;
    width:150px;
    border: 5px solid #EFB0C9;
}
#header{
    display:flex;
    flex-direction: column;
    align-items:center;
}
#age{
    border-radius: 6px;
    padding:5px;
    margin:5px 0 10px 0;
     background:  #EFB0C9;
}
#date{
    margin-top:0px;
    border-radius:6px;
    padding:5px;
     background:  #EFB0C9;
}
.cover{
    width:400px;
    border:6px solid #ffffff;
    border-radius:10px;
    margin:0 auto;
    height: 400px;
    background-image:url("https://pngimg.com/d/gift_PNG100220.png");
    background-size:cover;
}
.titl{
    margin-top:40px; 
}
.surp{
    margin-top:0;
}
#cover-happy:hover{
    background-image:url("https://media.giphy.com/media/DhstvI3zZ598Nb1rFf/giphy.gif");
}
#cover-hot:hover{
    background-image: url("https://media.giphy.com/media/QAsBwSjx9zVKoGp9nr/giphy.gif");
}
#cover-genius:hover{
    background-image:url("https://media.giphy.com/media/oNKLBehxbnoqY/giphy.gif");
}
#cover-badass:hover{
    background-image:url("https://media.giphy.com/media/kiBcwEXegBTACmVOnE/giphy.gif");
}
#cover-cheers{
    height:200px;
}
#cover-cheers:hover{
    background-image:url("https://media.giphy.com/media/3o6fJ1BM7R2EBRDnxK/giphy.gif");
}
#footer{
    width:400px;
    font-style:italic;
    margin:40px auto 20px;
}
a{
    color:white;
}

















